page-home {

  .image-size{
    height: 190px !important;
    width: 300px !important;
    align-items: center;

  }
  .ion-card {
    position: relative;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 20%;
  }
  
  .text-card{
    margin-left: 20px;;
    margin-block-start: 10px;
    
  }

  .icon-card{
    font-size: 25px;
    color:#fffd68
  }

}
